<% if flash[:error].present? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">The following errors prevented the article from being saved!</h4>
        <%= flash[:error] %>
    </div>
<% end %>